body {
    background-color: rgb(2, 0, 36);
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bn:focus {
    border-color: orange;
}

#output {
    color: white;
}

.github-corner {
    height: 15vh;
    width: 15vh;
    color: rgb(2, 0, 36);
    fill: rgb(0, 213, 255);
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    transform: scale(-1, 1);
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}